.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 40px auto 0 auto;
    padding: 20px 0;
}
.list-container:hover {
    border-color: var(--blue-primary);
}

.title-section {
    color: var(--text-primary);
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}